@import "https://fonts.googleapis.com/css?family=Bangers";
@import "https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou";

html {
  background-color: pink;
}

#container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
